<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio CAC</title>
</head>
<body>
    <!-- PRE LOADER -->

<div class="preloader">
    <div class="sk-spinner sk-spinner-wordpress">
         <span class="sk-inner-circle"></span>
    </div>
</div>

<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

         <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
              </button>
              <a href="index.html" class="navbar-brand"><i class="fa fa-magnet"></i></a>
         </div>
         <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                   <li class="active"><a href="{% url 'inicio' %}">Proyectos</a></li>
                   <li><a href="{% url 'quienes_somos' %}">Nosotros</a></li>
                   <li><a href="{% url 'blog' %}">Blog</a></li>
                   <li><a href="contact.html">Contacto</a></li>
              </ul>
         </div>

 </div>
</div>

<!-- Home Section -->

<section id="home">
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <h2>El estudio web y móvil creativo. Somos diseñadores jóvenes y enfocados en identidad de marca, desarrollo web y marketing social.</h2>
                   <hr>
              </div>

         </div>
    </div>
</section>

<!-- Portfolio Section -->

<section id="portfolio">
    <div class="container">
         <div class="row">

              <div class="col-md-4 col-sm-6">
                   <a href="single-project.html">
                        <div class="portfolio-thumb">
                             <img src="images/portfolio-img1.jpg" class="img-responsive" alt="Portfolio">
                                  <div class="portfolio-overlay">
                                       <div class="portfolio-item">
                                            <h3>Nombre del Proyecto</h3>
                                            <small>Brand Identity</small>
                                       </div>
                                  </div>
                        </div>
                   </a>
              </div>

              <div class="col-md-4 col-sm-6">
                   <a href="single-project.html">
                        <div class="portfolio-thumb">
                             <img src="images/portfolio-img2.jpg" class="img-responsive" alt="Portfolio">
                                  <div class="portfolio-overlay">
                                       <div class="portfolio-item">
                                            <h3>Nombre del Proyecto</h3>
                                            <small>Web Development</small>
                                       </div>
                                  </div>
                        </div>
                   </a>
              </div>

              <div class="col-md-4 col-sm-6">
                   <a href="single-project.html">
                        <div class="portfolio-thumb">
                             <img src="images/portfolio-img3.jpg" class="img-responsive" alt="Portfolio">
                                  <div class="portfolio-overlay">
                                       <div class="portfolio-item">
                                            <h3>Nombre del Proyecto</h3>
                                            <small>Mobile App</small>
                                       </div>
                                  </div>
                        </div>
                   </a>
              </div>

              <div class="col-md-4 col-sm-6">
                   <a href="single-project.html">
                        <div class="portfolio-thumb">
                             <img src="images/portfolio-img4.jpg" class="img-responsive" alt="Portfolio">
                                  <div class="portfolio-overlay">
                                       <div class="portfolio-item">
                                            <h3>Nombre del Proyecto</h3>
                                            <small>Logo Design</small>
                                       </div>
                                  </div>
                        </div>
                   </a>
              </div>

              <div class="col-md-4 col-sm-6">
                   <a href="single-project.html">
                        <div class="portfolio-thumb">
                             <img src="images/portfolio-img5.jpg" class="img-responsive" alt="Portfolio">
                                  <div class="portfolio-overlay">
                                       <div class="portfolio-item">
                                            <h3>Nombre del Proyecto</h3>
                                            <small>Social marketing</small>
                                       </div>
                                  </div>
                        </div>
                   </a>
              </div>

              <div class="col-md-4 col-sm-6">
                   <a href="single-project.html">
                        <div class="portfolio-thumb">
                             <img src="images/portfolio-img6.jpg" class="img-responsive" alt="Portfolio">
                                  <div class="portfolio-overlay">
                                       <div class="portfolio-item">
                                            <h3>Nombre del Proyecto</h3>
                                            <small>Fyler Design</small>
                                       </div>
                                  </div>
                        </div>
                   </a>
              </div>

              <div class="col-md-12 col-sm-12 text-center">
                   <h3>Si estas interesado podes contactarte <a href="contact.html">contact page</a></h3>
              </div>

         </div>
    </div>
</section>

<!-- Footer Section -->

{% include "./footer.html" %}


<!-- SCRIPTS -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
  <!--   <h1>{{ titulo_nombre }}</h1>
    <p>{{ parametros }}</p>    
    <p>{{ hoy|date:"Y-m-d H:i:s"}}</p>
    
    {% if cursos|length > 0 %}
        <ul>
            {% for curso in cursos %}
                <li>
                    {{ curso.nombre }} - {{ curso.categoria }}
                    <p>{{ curso.descripcion }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay cursos disponibles</p>
    {% endif %}-->
    
    

</body>
</html>